@{
    Layout = "~/Views/Shared/_FormGray.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>框架介绍</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12" style="font-size:14px">
                                <p>
                                    YiShaAdminMKII 基于<a href="https://github.com/liukuo362573/YiShaAdmin" target="_blank">一沙后台</a>和<a href="https://gitee.com/songzhidan/queer" target="_blank">queer</a>，在此表示感谢 :）<br/>
                                    基于.net5 和 furion 的后台管理系统，主要用于自己的学习 <br/>
                                </p>
                                <p>当前版本： @YiSha.Util.GlobalContext.GetVersion() &nbsp;&nbsp;<span class="label label-warning">¥免费开源</span></p>
                                <p></p>
                                <p>
                                    <a class="btn btn-success btn-outline" href="https://github.com/zergmk2/YiShaAdminMk2" target="_blank">
                                        <i class="fa fa-github"> </i> 访问 github
                                    </a>
                                    @*<a class="btn btn-white btn-bitbucket" href="#" target="_blank">
                                        <i class="fa fa-home"></i> 访问主页
                                    </a>*@
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>技术选型</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="font-size:14px">
                        <ul>
                            <li>1. 前端： Bootstrap 3.3.7</li>
                            <li>2. 核心框架：.Net5 + Furion </li>
                            <li>3. 缓存层：MemoryCache、Redis, 默认为MemoryCache</li>
                            <li>4. 持久层框架：Entity Framework Core</li>
                            <li>5. 数据库支持：SqlServer,MySql,Oracle, Sqlite(默认)</li>
                            <li>6. 定时任务：Quartz.Net</li>
                            <li>7. 对象映射：AutoMapper</li>
                            <li>8. 日志系统：NLog</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v310">v1.0.0</a><code class="pull-right">2021.02.20</code>
                                        </h5>
                                    </div>
                                    <div id="v310" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ol>
                                                <li>1. 整合YishaAdmin和queer项目</li>
                                                <li>2. 使用Cookie验证登陆</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });

        $('#pay-qrcode').click(function () {
            var html = $(this).html();
            ys.openDialogContent({
                content: html,
                width: '600px',
                height: '321px'
            });
        });

    });

</script>